@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #E5E5E5;
    background-image: url('./img/placeholder.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.container{
    margin: 0 auto;
    padding: 40px;
    width: 1000px;
    background: rgb(34, 33, 33);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.head-txt{
    position: relative;
    margin-bottom: 50px;
}

.head-txt>h2{
    font-weight: 300;
    letter-spacing: 3px;
}

.head-txt>h1{
    position: absolute;
    font-size: 60px;
    color: #4e4e4e75;
    top: -25px;
    letter-spacing: 8px;
    transform: translate(-4%);
}


.cards-c{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.cards-c .card{
    width: 280px;
    min-height: 370px;
    background: rgb(57, 56, 56);
    border-radius: 6px;
}

.card img{
    width: 100%;
}

.card .define{
    padding: 0 20px 0 20px;
}

.define>h2{
    font-weight: 400;
    font-size: 23px;
}

.define .p1{
    font-size: 10px;
    color: #A4A8B2;
    margin-bottom: 15px;
}

.define .p2{
    color:#85878C;
    font-size: 10px;
    letter-spacing: -0.16px;
}

.reyting{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 15px;
}

.reyting .stars{
    display: flex;
    align-items: center;
    gap: 2px;
}

.stars>p{
    font-size: 10px;
    color: #B3B3B3;
    font-weight: 900;
    letter-spacing: 1.5px;
    margin-left: 5px;
}

.reyting .stars i{
    color: #F9AD3D;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.reyting button{
    background: #34C759;
    border: 1px solid #34C759;
    padding: 8px 20px;
    border-radius: 26px;
    font-weight: 900;
    font-size: 10px;
    letter-spacing: 2px;
    cursor: pointer;
    transition: .1s;
}

.reyting button:hover{
    background: transparent;
    color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
}